<input placeholder="user" [(ngModel)]="userObject.name">
<input placeholder="user" [(ngModel)]="userObject.age">
<input placeholder="user" [(ngModel)]="userObject.id">


<ng-container *ngIf="showUser">
  <app-user [user]="userObject" (userCustomEvent)="handleEvent($event)"></app-user>
</ng-container>
<!--child selector, target (input property from child), source (property from parent), target (output event from child), source (method from parent)-->

<ul *ngFor="let item of posts | async ">
  <li>{{item.id}}</li>
  <li>{{item.title}}</li>
  <li>{{item.body}}</li>
</ul>
